<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Data Uploader</title>
</head>

<body style="background-color:#fff;">

<p> </p>

<div style="width:500px; height:183px; border:1.5px solid #9db8c9; text-align: center; background-color:#B9D9EB; border-radius: 15px">
<p><h1 style="font-family:verdana;"><font size="4" color="#000000">Enter your sentence(s) below:</font></h1></p>
<form action="" method="POST">
  <textarea name="text" rows="5" cols="50"></textarea>
  <br>
  <input type="Submit">
</form>
    <p></p><p></p>
    <div id="sentence">
        {% if message is not None %}
            <p>{{ message }}</p>
        {% end %}
    </div>

    <p></p><p></p>
    <div id="corrections" style="text-align: left">
        {% if corrections is not None %}
        <h3>Corrections:</h3>
            <ul>
            {% for key, values in corrections.items() %}
                {% if len(values) == 0 %}
                    {% continue %}
                {% end %}
                <li>{{ key }}
                    <ul>
                {% for value in values %}
                    <li>{{ value }}</li>
                {% end %}
                    </ul>
                </li>
                <br>
            {% end %}
            </ul>
        {% end %}
    </div>

    <div id="sentences" style="text-align: left">
        {% if sentences is not None %}
        <h3>Alternate Sentences:</h3>
            <ul>
            {% for s in sentences %}
                <li> {{ s }}  </li>
                <br>
            {% end %}
            </ul>
        {% end %}
    </div>

    <div id="wordcloud" style="text-align: left">
        {% if wordcloud%}
			{% if words is not None %}
            <h3>Word Cloud:</h3>
				<ul>
					<li>
                        {% if words[0] %}
						    {{ words[0] }}
                        {% end %}
						<br>
						<img src="/static/Dynamic_Word_Cloud_0.jpg" />
						<br>
					</li>
					<li>
                        {% if words[1] %}
						    {{ words[1] }}
                        {% end %}
						<br>
						<img src="/static/Dynamic_Word_Cloud_1.jpg" />
						<br>
					</li>
					<li>
                        {% if words[2] %}
						    {{ words[2] }}
                        {% end %}
						<br>
						<img src="/static/Dynamic_Word_Cloud_2.jpg" />
						<br>
					</li>					
				</ul>
			{% end %}
        {% end %}
    </div>
</div>